<table class="index">
  <tr>
    <th><%= t("step_name") %></th>
    <th><%= t("model_name") %></th>
    <th>&nbsp;</th>
  </tr>
  <% @additional_order_detail_descriptors.each do |additional_order_detail_descriptor| %>
    <tr>
      <td><%= additional_order_detail_descriptor.step_name %></td>
      <td><%= additional_order_detail_descriptor.model_name %></td>
      <td class="actions">
        <%= link_to_with_icon 'delete',  t("remove"), additional_order_detail_remove_route_for(@object, additional_order_detail_descriptor) %>
      </td>
    </tr>
  <% end %>
  <% if @additional_order_detail_descriptors.empty? %>
   <tr><td colspan="3"><%= t(:none) %></td></tr>
  <% end %>
</table>

<div id="additional-order-detail-descriptors"></div>
  <span id="new_descriptor_link_span">
    <%= link_to icon('add') + ' ' + t("add_additional_order_detail_descriptor"), additional_order_detail_available_route_for(@object), :remote => :true, :class => 'iconlink', :id => "new_descriptor_link" %>
  </span>
