<h1>Provide detail for your order</h1>

<%# additional_order_detail_steps_progress %>
  <div>
    <%= form_for @order, :url => wizard_path, :html => {:id => 'update-additional-info'} do |order_form| %>
      <div>

        <div>
          <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

          <%= order_form.fields_for :line_items,@line_items do |item_form| %>
            <%# item_form.fields_for :additional_order_detail, item_form.object.additional_order_details.last do |additional_order_detail_form| %>
            <% yield item_form %>
          <% end %>
        </div>

        <div>
          <%= button_tag :class => 'primary', :id => 'update-button' do %>
            <%= t(:update) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

