<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @spree_aircraft_detail.year %>
</p>

<p>
  <b>Aircraft type:</b>
  <%= @spree_aircraft_detail.aircraft_type %>
</p>


<%= link_to 'Edit', edit_spree_aircraft_detail_path(@spree_aircraft_detail) %> |
<%= link_to 'Back', spree_aircraft_details_path %>
