<div id="mandatory_details" data-mandatory-details='<%= @additional_order_details.select {|aod| aod.mandatory? }.map(&:detailed).map(&:class).map(&:name).map(&:underscore).to_json %>'</div>

<% @additional_order_details.each do |aod| %>
  <% type = aod.detailed.class.name.underscore %>

  <% first = (@additional_order_details.first == aod) %>

  <%= content_for :nav_tabs do %>
    <li <%= "class='active'" if first %> >
      <a href="#tab_<%= aod.object_id%>" class="tab_<%= type %>" data-toggle="tab">
      <%= aod.detailed_type %>
      </a>
    </li>
  <% end %>

  <%= content_for :tab_contents do %>
    <%= content_tag "div", 
                     "Loading...", 
                      { id: "tab_#{aod.object_id}", 
                        class: "container_#{type} tab-pane#{ first ? ' active' : ''}",
                        data: { type.to_sym => aod.detailed, line_item_id: aod.line_item_id }
                      }
    %>
  <% end %>

<% end %>

<div class="container">
  <div class="tab-pane" id="tabs-side">
    <h3>Info we need</h3>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs span2">
        <%= yield :nav_tabs %>
      </ul>
      <div class="tab-content span5">

        <%= yield :tab_contents %>

      </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->
  </div>
</div>

<div class="links columns sixteen alpha omega" data-hook="cart_buttons">
  <%= link_to t(:checkout), checkout_state_path(@order.checkout_steps.first), :class => 'button checkout primary', :id => 'checkout-link', :style=> 'display: none;'%>
</div>
